* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin-top: 4em;



}



.galeria {
  display: flex;
  flex-direction: column;
  margin: 5%;
  

}

.galeria img {
  width: 100%;
  padding: 2%;
  height: auto;
  display: block;

}